/* 
    Document   : newCascadeStyleSheet
    Created on : Apr 19, 2013, 1:14:02 PM
    Author     : glaucoroberto
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.transparecia{
    filter:opacity(alpha=70); /* para o IE */
    -moz-opacity:0.70; /* para o FireFox */
    opacity:0.70; /* para o outros Navegadores */
    background-color: #fff;
}
.caixaFotoMembroEquipe{
    margin-top:5px;margin-left:1px ;height: 150px; width: 150px; cursor:pointer; background-size:contain ;background-repeat: no-repeat;margin-right:1px; float:left;
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
}

.caixaDescricaoMembroEquipe{
    vertical-align: middle !important;display: none; padding-top: 40px; padding-bottom: 5px;text-align: center;height: 110px;width: 150px;cursor:pointer;color: black
}
.grid {
    
    background-image: url('../img/mapaJaguarao.png');
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid div {
    filter:opacity(alpha=75) !important; /* para o IE */
    -moz-opacity:0.75 !important; /* para o FireFox */
    opacity:0.75 !important; /* para o outros Navegadores */
    border: 1px solid #e8e8e8;
    border-width: 0 1px 1px 0;
    float: left;
}


.entorta{
	-webkit-transform: rotate(10deg) translate(0px,0px);
	-moz-transform: rotate(10deg) translate(0px,0px);
	-o-transform: rotate(10deg) translate(0px,0px);
}

.rotacaoInversa{
    -moz-transform: rotate(-100deg) translateX(-120px);
    -ms-transform: rotate(-100deg) translateX(-120px);
    -o-transform: rotate(-100deg) translateX(-120px);
}

.rotacao{
    -moz-transform: rotate(-50deg) translateX(-60px);
    -ms-transform: rotate(-50deg) translateX(-60px);
    -o-transform: rotate(-50deg) translateX(-60px);
}

